$width-max: 1400px;

$border-round: 40px;

$color-hover: #1890ff;
$color-border: #e6e9f4;
$color-dark-gray: #464952;

$color-point: $color-dark-gray;

$time-transition: 0.3s;

$shadow-box: 1px 2px 3px 1px rgba(0, 0, 0, 0.15);

$loc: '../images';
